# CONNECTION PARAMETERS
ip_adress = "192.168.2.101"

# CONIGURATION PARAMETERS
hostname = "new_pi_host"

# Validate timezone correctness against 'timedatectl list-timezones' 
timezone = "Europe/Berlin"

new_user = "pi-user"