# CONNECTION PARAMETERS
ip_adress = "192.168.100.151"

# CONIGURATION PARAMETERS
hostname = "danube"

# Validate timezone correctness against 'timedatectl list-timezones' 
timezone = "Europe/Berlin"

user = "sisko"

initial_user = "pi"
initial_password = "raspberry"

email = "heinzepreller@gmail.com"
